*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;

    .section-1{
        width: 100%;
        height: 100vh;
        padding: 40px 50px;

        header{
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            nav{
                display: flex;
                gap: 40px;

                b{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: #0082F4;
                }

                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;
                }

                a{
                    text-decoration: none;
                    color: #000000;
                }
            }

            button{
                width: 170px;
                height: 52px;
                padding: 14px 30px;
                background: #0082F4;
                border-radius: 6px;
                border: #0082F4 solid 1px;
                color: #ffffff;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;
                text-align: center;

            }
        }

        hr{
            width: 100%;
            opacity: 0.1;
            border: 1px solid #0283F5;
            height: 0px;
        }

        main{
            width: 100%;
            height: calc(100vh - 85px);
            display: flex;

            .left h3{
                font-style: normal;
                font-weight: normal;
                font-size: 25px;    
                line-height: 29px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #0080FD;
                padding-top: 100px;
            }

            .left h1{
                width: 531px;
                height: 148px;
                font-style: normal;
                font-weight: bold;
                font-size: 60.55px;
                line-height: 79px;
                color: #000000;

                span{
                    color: #0080FD;
                }
            }

            .left p{
                width: 436px;
                height: 46px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                opacity: 0.6;
            }
        }
    }
}